
<div>
    {{observableDessert$$ | async}}
</div>
    

<!--
<div class="content">
    <h1>List of desserts</h1>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dessertsItems" matSort class="mat-elevation-z8 table-striped">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary">

                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox color="primary">

                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="Dessert">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Dessert (100g serving) </th>
                <td mat-cell *matCellDef="let element"> {{element.Dessert}} </td>
            </ng-container>

            <ng-container matColumnDef="Calories">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
                <td mat-cell *matCellDef="let element"> {{element.Calories}} </td>
            </ng-container>

            <ng-container matColumnDef="Fat">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fat (g) </th>
                <td mat-cell *matCellDef="let element"> {{element.Fat}} </td>
            </ng-container>

            <ng-container matColumnDef="Carbs">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Carbs (g) </th>
                <td mat-cell *matCellDef="let element"> {{element.Carbs}} </td>
            </ng-container>

            <ng-container matColumnDef="Protein">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Protein (g) </th>
                <td mat-cell *matCellDef="let element"> {{element.Protein}} </td>
            </ng-container>

            <ng-container matColumnDef="Sodium">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sodium (mg) </th>
                <td mat-cell *matCellDef="let element"> {{element.Sodium}} </td>
            </ng-container>

            <ng-container matColumnDef="Calcium">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Calcium (%) </th>
                <td mat-cell *matCellDef="let element"> {{element.Calcium}} </td>
            </ng-container>

            <ng-container matColumnDef="Iron">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Iron (%) </th>
                <td mat-cell *matCellDef="let element"> {{element.Iron}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="desertsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: desertsColumns;"></tr>
        </table>
    </div>
</div>
-->