<div class="content">
    <table class="header">
        <td class="header-left">
            <h1>Stuff I ate last night</h1>
        </td>
        <td class="header-right">
            <span class="header-status">
                <mat-icon>edit_off</mat-icon>Read-only
            </span>
            <button (click)="onViewAsClick()" mat-raised-button color="primary">VIEW AS FEED</button>
        </td>
    </table>
    <div class="desserts mat-elevation-z8">
        <table mat-table [dataSource]="dessertsList" class="mat-elevation-z8 table-striped">

            <ng-container matColumnDef="dessert">
                <th mat-header-cell *matHeaderCellDef> DESSERT (100g SERVING) </th>
                <td mat-cell *matCellDef="let element"> {{element.dessert}} </td>
            </ng-container>

            <ng-container matColumnDef="calories">
                <th mat-header-cell *matHeaderCellDef> CALORIES </th>
                <td mat-cell *matCellDef="let element"> {{element.calories}} </td>
            </ng-container>

            <ng-container matColumnDef="fat">
                <th mat-header-cell *matHeaderCellDef> FAT (g) </th>
                <td mat-cell *matCellDef="let element"> {{element.fat}} </td>
            </ng-container>

            <ng-container matColumnDef="carbs">
                <th mat-header-cell *matHeaderCellDef> CARBS (g) </th>
                <td mat-cell *matCellDef="let element"> {{element.carbs}} </td>
            </ng-container>

            <ng-container matColumnDef="protein">
                <th mat-header-cell *matHeaderCellDef> PROTEIN (g) </th>
                <td mat-cell *matCellDef="let element"> {{element.protein}} </td>
            </ng-container>

            <ng-container matColumnDef="sodium">
                <th mat-header-cell *matHeaderCellDef> SODIUM (mg) </th>
                <td mat-cell *matCellDef="let element"> {{element.sodium}} </td>
            </ng-container>

            <ng-container matColumnDef="calcium">
                <th mat-header-cell *matHeaderCellDef> CALCIUM (%) </th>
                <td mat-cell *matCellDef="let element"> {{element.calcium}} </td>
            </ng-container>

            <ng-container matColumnDef="iron">
                <th mat-header-cell *matHeaderCellDef> IRON (%) </th>
                <td mat-cell *matCellDef="let element"> {{element.iron}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dessertsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: dessertsColumns;"></tr>
        </table>
    </div>
</div>