.content {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.55;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}
.content span {
  color: #fff;
  font-weight: 500;
  font-size: 1000%;
  line-height: 100%;
  position: relative;
  user-select: none;
  margin-left: 20px;
  margin-right: 20px;
}
.content .instructions {
  font-size: 450%;
  margin-left: 20px;
  margin-right: 20px;
}
.content img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  user-select: none;
}
.content img {
  mix-blend-mode: darken;
}

@media only screen and (max-height: 800px) {
  .typography-texture {
    width: 100%;
  }  
}

@media only screen and (max-width: 800px) {
  .content span {
    font-size: 800%;
  }
  .content .instructions {
    font-size: 350%;
  }
}

@media only screen and (max-width: 576px) {
  .content span {
    font-size: 600%;
  }
  .content .instructions {
    font-size: 300%;
  }
}

@media only screen and (max-width: 440px) {
  .content span {
    font-size: 300%;
  }
  .content .instructions {
    font-size: 250%;
  }
}
