.content {
    padding: 40px 40px 40px 40px;
}

mat-card {
    padding: 0 0 0 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
}

.login-card {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff9e
}

.keychain-img {
    top: 0%;
    bottom: 0%;
    max-height: 80%;
    max-width: 80%;
    pointer-events: none;
    opacity: 0.75;
    display: block;
    border-radius: 50%;
    border: solid 1px rgb(165, 165, 165);
    box-shadow: 5px 10px 5px 5px #888787;
    user-select: none;
    background-color: #ffffff
}

.hidden-img {
    top: 0%;
    bottom: 0%;
    max-height: 20%;
    max-width: 20%;
    pointer-events: none;
    opacity: 0;
    display: block;
    margin-left: 30px;
    border-radius: 50%;
    border: solid 1px rgb(165, 165, 165);
    box-shadow: 5px 10px 5px 5px #888787;
    user-select: none;
    background-color: #ffffff
}

.hidden-image-placeholder{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.login-form {
    max-width: 350px;
    width: 85%;
    align-content: center;
    justify-content: center;
}

.control {
    width: 100%;
}

.title{
    text-align: center;
    margin-bottom: 30px;
}

.link {
    text-align: center;
}

a {
    text-decoration: none !important;
}


.login-button {
    margin-bottom: 15px;
    transform-origin:top left;
}

@media only screen and (max-width: 800px) {
  .mat-display-2 {
      font-size: 190%; 
  }

  .title {
      margin-bottom: 10px;
  }

  .content {
      font-size: 95%;
  }
}

@media only screen and (max-width: 620px) {
  .content {
      font-size: 85%;
  }

  .title {
      margin-bottom: 8px;
  }

  .hidden-img {
      opacity: 0.75;
      max-height: 60%;
      max-width: 60%;
      margin-bottom: 15px;
  }

  .keychain-img {
      opacity: 0;
  }

  .visible-image-placeholder{
      transform: scaleX(0.1);
      transform-origin: left;
  }

  .hidden-image-placeholder{
      transform: translate(-80px);
      transform-origin: left; 
  }

  .mat-display-2 {
      line-height: 0.8;
  }
}

@media only screen and (max-width: 430px) {
  .content {
      font-size: 70%;
  }

  .title {
      margin-bottom: 5px;
  }
}