<div class="content">
    <mat-card class="login-card">
        <mat-grid-list cols="2" rowHeight="100%">
            <mat-grid-tile class="visible-image-placeholder" colspan="1">
                <img class="keychain-img" src="../../../assets/login/gandalf.png">
            </mat-grid-tile>
            <mat-grid-tile class="hidden-image-placeholder" colspan="1">
                
                <form [formGroup]="loginForm" class="login-form">  
                   <div>
                    <img class="hidden-img" src="../../../assets/login/gandalf.png">
                    </div>
                    <div class="title">
                        <span class="mat-display-2">You shall not pass!</span><br><br>
                        <span>(unless you are a Hobbit)</span>
                    </div>
                    <div class="credentials">
                        <mat-form-field class="control">
                            <mat-label>Email / ID</mat-label>
                            <input matInput type="email" placeholder="john.doe@contoso.com" formControlName="username">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="control">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="password">
                        </mat-form-field>
                    </div>
                    <div>
                        <a mat-raised-button [disabled]="!loginForm.valid" id ="login-button" class="control login-button" color="primary" (click)="onLoginClick()">LOGIN</a>
                    </div>
                    <div class="link">
                        <a href="/forgot">Forgot username/password?</a>
                    </div>
                    <div class="link">
                        <a href="/signup">Don't have an account?</a>
                    </div>
                </form>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>