/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snack-bar {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(45, 45, 45);
    backdrop-filter: blur(10px);
}

.custom-snack-bar button {
    background-color: rgb(63, 81, 181);
    color: rgb(255, 255, 255);
}


