<mat-drawer-container fullscreen>
    <mat-drawer #drawer mode="side" opened>
        <mat-list *ngIf="this.headerService.willShowHeader()">
            <mat-list-item>
                <a mat-mini-fab color="primary" matTooltip="Home" matTooltipPosition="right" href='/' aria-label="Example icon button with a menu icon">
                    <mat-icon>home</mat-icon>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-mini-fab color="primary" matTooltip="Log out" matTooltipPosition="right" (click)="logOut()" aria-label="Example icon button with a menu icon">
                    <mat-icon>logout</mat-icon>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-mini-fab color="primary" matTooltip="Your classifications" matTooltipPosition="right" href='/history' aria-label="Example icon button with a menu icon">
                    <mat-icon>list</mat-icon>
                </a>
            </mat-list-item>
            <mat-list-item>
                <a mat-mini-fab color="primary" matTooltip="Upload a picture" matTooltipPosition="right" href='/upload' aria-label="Example icon button with a menu icon">
                    <mat-icon>upload</mat-icon>
                </a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>