<div class="container">
    <mat-drawer-container fullscreen>
        <mat-drawer #drawer mode="side" [opened]="this.headerService.willShowHeader()">
            <mat-list>
                <mat-list-item>
                    <button mat-mini-fab color="primary" matTooltip="Home" matTooltipPosition="right" routerLink="home">
                        <mat-icon>home</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-mini-fab color="primary" matTooltip="Classification log" matTooltipPosition="right"
                        routerLink="history">
                        <mat-icon>list</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-mini-fab color="primary" matTooltip="Desserts (GCP)" matTooltipPosition="right"
                        routerLink="desserts">
                        <mat-icon>wb_cloudy</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-mini-fab color="primary" matTooltip="Upload a picture" matTooltipPosition="right"
                        routerLink="upload">
                        <mat-icon>upload</mat-icon>
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-mini-fab color="primary" matTooltip="Log out" matTooltipPosition="right"
                        (click)="logOut()" routerLink="login">
                        <mat-icon>logout</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
        </mat-drawer>
        <div class="content" [@animRoutes]="animationState">
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>
    </mat-drawer-container>
</div>