.container {
  background-repeat: no-repeat;
  background: linear-gradient(60deg, #2d5880 0%, #6da3b9 33%, #b1c5a4 66%, #e48947 100%);
  background-attachment: fixed;
  background-size: cover;
  overflow-y: overlay;
  height: 100%;
}

mat-drawer {
  border-width: 1px;
  border-color: hsl(207, 25%, 64%);
  background-color: #80a0bf;
  box-shadow: 3px 10px 30px 3px rgb(119, 131, 142);
}

mat-list-item {
  margin-bottom: 10px;
}
