<div class="content">
  <h1>Submit a picture for analysis</h1>
  <h3>Note that the images must be 28x28 pixels, encoded in the Gray color space and uploaded as PNGs.</h3>
  <div id="preview-container">
    <div id="upload-control">
      <mat-form-field appearance="standard">
        <mat-label>Picture to upload</mat-label>
        <ngx-mat-file-input #fileInput type="file" accept='image/*' (change)="preview(fileInput)"
          valuePlaceholder="Choose a picture"></ngx-mat-file-input>
        <mat-icon matSuffix>image</mat-icon>
      </mat-form-field>
    </div>
    <div id="image-container">
      <img [src]="imgURL" height="200" *ngIf="imgURL">
    </div>
    <div id="submit-container">
      <button mat-raised-button [disabled]="!file" (click)="submitImage()" color="primary">SUBMIT</button>
    </div>

  </div>

</div>