.content {
    padding: 40px 40px 40px 40px;
}

#preview-container {
    max-width: 500px;
    border-radius: 15px 15px 15px 15px;
    padding: 20px 20px 20px 20px;
    background-color: #e9e7e766;
    margin-right: 0px;
}

#image-container {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    background-color: #e9e7e76d;
}

#upload-control {
    width: 100%;
}

mat-form-field {
    width: 100%;
}
