/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
    background: linear-gradient(60deg, #8db2c8 20%, #d6943d 100%);
    background-clip: content-box, padding-box;
}
