.content {
  margin: 40px 40px 40px 40px;
  padding: 0;
}

.classifications {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: 90px 40px 40px 40px;
  background-color: rgba(255, 255, 255, 0.25);
  overflow: auto;
}

.mat-table {
  display: table;
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.35);
  flex: 1 1 auto;
  width: 100%;
}

.col-timestamp {
  width: 33%;
  min-width: 210px;
}

.col-file {
  width: 33%;
  min-width: 90px;
}

.col-result {
  width: 30%;
}

::ng-deep .mat-sort-header-sorted .mat-sort-header-arrow {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}
