<div class="content">
    <table class="header">
        <td class="header-left">
            <h1>Stuff I ate last night</h1>
        </td>
        <td class="header-right">
            <span class="header-status">
                <mat-icon>edit</mat-icon>Read/Write
            </span>
            <button (click)="onViewAsClick()" mat-raised-button color="primary">VIEW AS TABLE</button>
        </td>
    </table>
    <div class="desserts mat-elevation-z8">
        <div *ngFor="let dessert of dessertsList">
            {{dessert.dessert}},
            {{dessert.calories}},
            {{dessert.fat}},
            {{dessert.carbs}},
            {{dessert.protein}},
            {{dessert.sodium}},
            {{dessert.calcium}},
            {{dessert.iron}}
        </div>

    </div>
</div>