.content {
    padding: 20px 20px 20px 20px;
}

#preview-container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
    padding: 20px 20px 20px 20px;
    background-color: #e9e7e766
}

#image-container {
    width: 700px;
    height: 470px;
    margin: 0 auto;
    border: 2px solid #ccc;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D7D7D7;
}

#submit-container {
    margin-top: 20px;
    float: left;
}

#upload-control {
    width: 100%;
}

mat-form-field {
    float: right;
}